
<!DOCTYPE html>
<html>
	<head>
		<title>PiThermServer - Available functions</title>
		<meta name="description" content="Plot of temperature from DS18B20 sensor connected to Raspberry Pi">
		<meta name="author" content="James Pickard">
		<meta name="version" content="0.1">

		<link href="css/temperatures.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<ul>
			<li><a href="temperature_log">Temperature log</a> of temperatures since records began.</li>
			<li><a href="temperature_plot">Temperature plot</a> of the real-time current temperature.</li>
		</ul>
	</body>
</html>
